body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1;
  color: #333;
  background-color: #f4f4f4;

  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;

  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sketch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.sketch {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 100%;
  overflow: hidden;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sketch .info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 0.8rem;

  display: flex;
  gap: 1rem;
}

.sketch .info * {
  color: #333;
  text-decoration: none;
  opacity: 0.6;
}

.sketch .info span {
  pointer-events: none;
  user-select: none;
}

.sketch .info a {
  pointer-events: initial;
}

.sketch .info *:hover {
  opacity: 1;
}

.sketch .info.white * {
  color: white;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#footer * {
  font-size: 0.8rem;
}

#footer a {
  text-decoration: none;
  color: #666;
}
