/* style.css for all examples */

html,
body {
  height: 100%;
}

body,
canvas {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  overflow: hidden;
}
